<div class="row border-bottom border-2 mb-4 border-success">
    <div class="col-md-6">
        <h3>Card Information</h3>
    </div>
    <div class="col-md-6 text-end">
        <button (click)="addCard()" class="btn green-btn">Add Card</button>
    </div>
</div>
<div class="row">
  <div class="col-md-6 mb-3">
    <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Search by Card Key and Name" (ngModelChange)="updateFilters()">
  </div>
</div>
<table class="table">
    <thead>
        <tr>
         <th></th>
          <th width="25%">Key</th>
          <th width="25%">Name</th>
          <th width="25%"> Card Issuer</th>
          <th> Status</th>
          <th >Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container  *ngIf="( cardData | filter:'card_key,card_name': searchText | paginate : pagingConfig) as result">
          <tr *ngFor="let item of result">
            <td><img [src]=item.card_image_url width="20"  /></td>
            <td>{{item.card_key}}</td>
            <td>{{item.card_name}}</td>
            <td class="text-break">{{item.card_issuer}}</td>
            <td class="text-break">
                <span class="badge bg-success" *ngIf="!item.is_disabled">Active</span>
                <span class="badge bg-danger" *ngIf="item.is_disabled">Inactive</span>
            </td>
            <td>
                <a (click)="editClick(item)" class="danger font-weight-bold">Edit</a> &nbsp; &nbsp;
                <a (click)="openDeleteModal(item,confirmViewPopup)" class="danger font-weight-bold">Delete</a>
            </td>
        </tr>
        </ng-container>
        
      </tbody>
</table>
<div class="row mt-3" *ngIf="this.pagingConfig.totalItems > 0">
    <div class="col-md-12 text-end">
      <div class="no-of-row text-end me-2">
        <label class="control-label no-og-lbl" for="noOfRows"
          >No. of Rows</label
        >
        <select
          name="noOfRows"
          (change)="onTableSizeChange($event)"
          class="form-select form-select-sm"
        >
          <option *ngFor="let size of tableSize" [ngValue]="size">
            {{ size }}
          </option>
        </select>
      </div>
      <div class="pageing">
        <pagination-controls (pageChange)="onTableDataChange($event)">
        </pagination-controls>
      </div>
    </div>
  </div>
<ng-template #confirmViewPopup>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closePopup()"></button>
      </div>
      <div class="modal-body">
      {{deleteMsg}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"  (click)="closePopup()">Cancel</button>
        <button type="button" class="btn green-btn"  (click)="deleteCard()">Confirm</button>
      </div>
</ng-template>