<div class="sidebar" [ngClass]="{'open': menuOpen }">
    <div class="logo-details">
      <i class="bx bxl-c-plus-plus icon"></i>
      <div class="logo_name">perkpickle</div>
      <i class="bx" id="btn" [ngClass]="{'bx-menu': !menuOpen, 'bx-menu-alt-right' : menuOpen }" (click)="ClickMenu()"></i>
    </div>
    <ul class="nav-list">
      <li>
        <a (click)="clickMe('dashboard')" class="hand">
          <i class="bx bx-grid-alt"></i>
          <span class="links_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a (click)="clickMe('user')" class="hand">
          <i class="bx bx-user"></i>
          <span class="links_name">User</span>
        </a>
        <span class="tooltip">User</span>
      </li>
      <!-- <li>
        <a href="#">
          <i class="bx bx-chat"></i>
          <span class="links_name">Messages</span>
        </a>
        <span class="tooltip">Messages</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-pie-chart-alt-2"></i>
          <span class="links_name">Analytics</span>
        </a>
        <span class="tooltip">Analytics</span>
      </li> -->
      <li>
        <a (click)="clickMe('card')" class="hand">
          <i class="bx bx-folder"></i>
          <span class="links_name">Cards</span>
        </a>
        <span class="tooltip">Cards</span>
      </li>
      <!-- <li>
        <a href="#">
          <i class="bx bx-cart-alt"></i>
          <span class="links_name">Order</span>
        </a>
        <span class="tooltip">Order</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-heart"></i>
          <span class="links_name">Saved</span>
        </a>
        <span class="tooltip">Saved</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-cog"></i>
          <span class="links_name">Setting</span>
        </a>
        <span class="tooltip">Setting</span>
      </li> -->
      <li class="profile">
        <div class="profile-details">
          <!--<img src="profile.jpg" alt="profileImg">-->
          <div class="name_job">
            <div class="name">Admin</div>
            <div class="job">Web administrator</div>
          </div>
        </div>
      <i class="bx bx-log-out" id="log_out" (click)="clickMe('logout')" style="cursor: pointer;color:white"></i>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <div class="row">
      <div class="col-md-12">
        <app-header></app-header>
      </div>
    </div>
    <div class="row ms-0 me-0">
      <div class="col-md-12 ps-4 pe-3">     
        <router-outlet></router-outlet>
      </div>
    </div>
     
   
  </section>
