.green-btn{
    background-color: #25a78d  !important;
    border: 1px solid #25a78d  !important;
    color: #ffffff !important;
}
.login_bg{
    background:#64c5b1;
    color:white;
    text-align:center;
    padding-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.error{
    color:#ff0000;
}